img {
    width: 150px;
    height: 150px;
}

.correct {
    color: rgb(6, 228, 206);
}

.incorrect {
    color: red;
}

.emojis {
    width: 200px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}